{
  "extends": "@logux/eslint-config",
  "plugins": [
    "prettierx"
  ],
  "rules": {
    "security/detect-possible-timing-attacks": "off",
    "unicorn/prefer-optional-catch-binding": "off",
    "node/no-missing-require": ["error", {
      "allowModules": ["webpack"]
    }],
    "unicorn/prefer-includes": "off",
    "prefer-let/prefer-let": "off",
    "prefer-arrow-callback": "off",
    "prefer-rest-params": "off",
    "multiline-ternary": [
      "error",
      "always-multiline"
    ],
    "prettierx/options": "off",
    "object-shorthand": "off",
    "func-style": ["error", "expression"],
    "no-console": "error",
    "no-var": "off"
  },
  "env": {
    "browser": true,
    "es6": false
  },
  "overrides": [
    {
      "files": [ "plugin.js" ],
      "rules": {
        "es5/no-block-scoping": "off",
        "es5/no-es6-methods": "off",
        "es5/no-classes": "off",
        "prefer-const": "off"
      }
    }
  ]
}
